# POST CONTENT
# empty yet

# CLI AND TUI
# ignore python virtual environment
cli-and-tui/my-test-env*
cli-and-tui/tmp-env*

# PYTHON LIB
# ignore python virtual environment
python-lib/my-test-env*
python-lib/tmp-env*
python-lib/data/nautilus-omnibus.html

# Media Files
*.epub

# PYTHON LLM AI
# ignore python virtual environment
python-llm-ai/my-test-env*
python-llm-ai/tmp-env*
# ignore media files
python-llm-ai/*.mp4
python-llm-ai/*.png
python-llm-ai/output/*

# PYTHON LLM CHUNK
# ignore python virtual environment
python-llm-chunk/my-test-env*
# ignore media files
python-llm-chunk/*.pdf
python-llm-chunk/*.md
!python-llm-chunk/README.md
# hidden foldes and files
python-llm-chunk/.*

# NODE JS
# ignore node_modules
node_modules/
*.heapsnapshot

# SENSITIVE DATA
*credentials.json
